.inputNewQuestion {
  display: flex;
  align-items: center;
  width: 95%;
  height: 50px;
  text-align: right;
  border: none;
  background: #f8f8fa;
  border-radius: 10px;
  font-family: HEEBO;
  color: #878794;
  font-size: 16px;
  padding: 13px 10px 12px 19px;
  margin-right: -5px;
  margin-top: 14px;
}

.inputContainer {
  width: 100%;
  font-family: HEEBO;
}
.greenArrow {
  margin-top: 15px;
}
