.mentorHashtag {
  padding: 4px 12px;
  text-align: center;
  border-radius: 40px;
  margin: 10px 10px;
  background: #c7c4c4;
  height: 20px;
}
/* .mentorcard {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 4px, 12px, 8px, 12px;
  background: #e4dada;
  border-radius: 6px;
  align-items: center;
} */
.mentorcard {
  margin-top: 30px;
  display: flex;
  padding: 4px, 12px, 8px, 12px;
  border-radius: 6px;
  min-height: 100px;
  width: 100%;
}
.mentorcardChosen {
  /* display: flex; */
  /* flex-direction: column; */
  padding: 4px, 12px, 8px, 12px;
  background: #e4dada;
  border-radius: 6px;
  align-items: center;
  background: #91c978;
}
span {
  align-items: center;
}
.mentorcardnextimg {
}
.tagsBox {
  display: flex;
}
.middlementordiv {
  align-content: flex-end;
  margin-top: 7px;
}
