.small-button {
  width: auto;
  margin: 8px 10px;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #ffffff;
  height: 32px;
  /* left: 160.12px;
  top: 141px; */
  background: #000000;
  border-radius: 7px;
}

.spanSvgIcon {
  margin-right: 13px;
}
