.hashtag {
  padding: 4px 12px;
  text-align: center;
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;

  background: #f7f7f9;
  border-radius: 40px;

  flex: none;
  order: 7;
  flex-grow: 0;
  margin: 10px 10px;
  cursor: pointer;

  height: 20x;
  top: 0px;
}

.hashtagList {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.hashtag.active {
  background: #1ee8b7;
}

.hashtagIcon {
  padding-left: 10px;
}
