.input-divs {
  margin-top: 30px;
  margin-top: 30px;
}

.input-divs label {
  margin: 13px 0;
  position: relative;
  display: flex;
}

.input-divs span {
  padding: 10px;
  pointer-events: none;
  position: absolute;
  /* left:150px; */
  top: 0;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: 0.5;
  font-size: 17px;
}
.input-divs textarea {
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 15px;
  width: 150%;
  margin: 2px;
  height: auto;
}
.input-divs textarea:focus + span,
textarea:not(:placeholder-shown) + span {
  opacity: 1;
  transform: scale(0.75) translateY(-100%) translateX(10px);
  font-size: 17px;
}

.input-divs textarea:focus {
  height: 100px;
  outline: none;
}
